@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply relative w-[60vw] h-[65vh] bg-black rounded-lg cursor-crosshair; 
}


.gradient-text {
  background: linear-gradient(to right, #14f723, #2643d0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


.gradient-text-hover:hover {
  background: linear-gradient(to right, #e40574, #e5f138);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}


